body {
  margin: 0px;
}
.a {
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 50%;
  width: 50%;
}
.b {
  background-color: rgb(255, 64, 0);
  height: 150px;
  width: 150px;
}
.c {
  background-color: rgb(255, 0, 0);
  height: 150px;
  width: 150px;
}
